.env
composer.lock
/.idea
/.vscode
/vendor
/storage
/node_modules
/package-lock.json
/phinx.yml
/phpstorm.meta.php
/atlas-config.php
/resources/views/frontend/includes/google-analytics.php
/public/assets/js/counters.js
