paths:
    migrations: db/migrations
    seeds: db/seeds

environments:
    default_migration_table: phinxlog
    default_database: development
    development:
        adapter: mysql
        host: localhost
        name: dev.gulchuk.com
        user: dev_gulchuk
        pass: 'superstrongpassword'
        port: 3306
        charset: utf8mb4