.display-none {
    display: none !important;
}

.pointer {
    cursor: pointer !important;
}

.item .extra a {
    color: rgba(0, 0, 0, 0.4);
}

.item .extra a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.main.menu .logo {
    width: 32px !important;
    height: 32px !important;
}

.fr-box .fr-wrapper div[style*="z-index: 9999"] {
    display: none !important;
}