#main-menu-logo {
    width: 32px;
    height: 32px;
}

html {
    background: #fff;
    font-size: 16px;
}

.footer-content {
    text-align: center;
    padding: 8px;
    font-size: 10px;
}

.footer-content a {
    color: #333;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 1.1rem;
}

main {
    flex: 1;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-container {
    margin: 1em .5em;
}

footer {
    margin-top: 1em;
}

.welcome-text {
    font-size: 20px;
}
