
/* ------- GENERAL ------- */
html {
    background: #fff;
}

.welcome-text {
    font-size: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 18px;
}

a {
    color: #298ce4;
}

.error-status {
    font-size: 8em;
    font-weight: bold;
    text-shadow: 0 20px 60px rgba(17,17,17,0.05),0 5px 10px rgba(17,17,17,0.1),0 1px 1px rgba(17,17,17,0.2);
}

/* ------- FOOTER -------- */
.footer-content {
    text-align: center;
    padding: 8px;
    font-size: 12px;
}

.footer-content a {
    color: #333;
}

footer {
    margin-top: 1em;
}

#main-menu-logo {
    width: 32px;
    height: 32px;
}

.flex-one {
    flex: 1;
    display: flex !important;
}

.vcenter-align {
    align-self: center;
}

@media screen and (max-width: 512px) {
    .vcenter-align {
        align-self: auto;
    }
}